


#root{
  margin: 0;
  padding: 0;
}
.main-body{
  position: absolute;
  width: 100vw;
  top: 0;
  background-color: rgb(153, 147, 140);
  display: flex;
}

h3 {
  color: red;
}

.middle-bar{
  flex-grow: 1;
  text-align: center;
  padding: 15px;
}

.add-new-post{
  background-color: black;
  min-height: 200px;
  padding: 12px;
}

form {
  background-color: white;
}