
#root{
  margin: 0;
  padding: 0;
}
.main-body{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(173, 13, 13);
  display: flex;
  justify-content: space-between;
}

.middle-bar{
  background-color: rgb(39, 177, 108);
  flex-grow: 1;
  overflow: auto;
  padding: 20px;
}


.add-new-post{
  /* background-color: rgb(41, 117, 168); */
  padding: 12px;
  margin: 0 auto;
}


.new-post-form {
  background-color: rgb(233, 233, 233);
  padding: 12px;
  border-radius: 3px;
  border: 1px solid rgba(124, 124, 124, 0.692);
}
.new-post-form input{
  padding: 12px;
}

.new-post-form textarea{
  height: 100px;
  padding: 12px;
  resize: none;
  outline: none;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}
.new-post-form textarea:focus{
  border: 2px solid rgb(0, 158, 119);
}


/* ADDING CHANGES TO EACH CREATED POST AND BODY */
.all-posts-container{
  background-color: darkgreen;
  padding: 12px;
  margin-top: 40px;
}

/* this will render the post for most recent */
.list-posts{
  display: flex;
  flex-direction: column-reverse;
}

.single-post{
  position: relative;
  min-height: 150px;
  background-color: burlywood;
  padding: 12px;
  margin-bottom: 12px;
}

/* For comments inside the post */
.list-of-comments{
  background-color: rgb(226, 146, 146);
  padding: 12px;
}

.new-comment-form{
  width: 90%;
  margin:20px auto;
  background-color: rgb(1, 171, 184);
  padding: 12px;
}

.comment-textarea{
  height: 70px;
  padding: 12px;
  resize: none;
  outline: none;
  margin-top: 15px;
}
.new-comment-form input{
  margin-bottom: 12px;
}

.single-comment{
  width: 85%;
  margin: 10px auto;
  padding: 15px;
  background-color: thistle;
  border: 1px solid rgba(112, 112, 112, 0.644);
  border-radius: 5px;
}



/* Lets work on the drop down menu for delete and update */
.menu-delete-edit{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.836);
  padding: 12px;
  border-radius: 3px;
  border: 1px solid rgba(131, 131, 131, 0.692);
}
details summary{
  outline: none;
}

.menu-delete-edit:hover{
  background-color: rgb(109, 135, 252);
}